{% extends 'index.html' %}
{% block title %}Hi, I Am {{ author.first_name }} {{ author.last_name }}{% endblock %}
{% block section %}
<section class="section-sm">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title-bordered mb-5 d-flex align-items-center">
                    <h1 class="h4">Hi, I Am {{ author.first_name }} {{ author.last_name }}</h1>
                    <ul class="list-inline social-icons ml-auto mr-3 d-none d-sm-block">
                        <li class="list-inline-item"><a href="#"><i class="ti-facebook"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#"><i class="ti-twitter-alt"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#"><i class="ti-linkedin"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#"><i class="ti-github"></i></a>
                        </li>
                    </ul>
                </div>
                {% if author.photo_full == True %}
                <img src="{{ author.photo_full }}" class="img-fluid w-100 mb-4 rounded-lg" alt="author">
                {% else %}
                <h6>У автора нет полной фотографий.</h6>
                {% endif %}
                <div class="content">
                    <p>{{ author.split_bio_return_left }}</p>
                    <div class="quote"><i class="ti-quote-left"></i>
                        <div>
                            <p>{{ author.return_random_quote }}</p>
                            <span class="quote-by"> -{{ author.first_name }} {{ author.last_name }}</span>
                        </div>
                    </div>
                    <p>{{ author.split_bio_return_right }}</p>
                    <hr>
                    <h4 id="my-skills--experiences">My Skills &amp; Experiences:</h4>
                    <p>{{ author.split_experience_return_left }}</p>
                    <ul>
                        {% for skill in author.skills.all %}
                        <li>{{ skill.skill }}</li>
                        {% endfor %}
                    </ul>
                    <p>{{ author.split_experience_return_right }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}