<!DOCTYPE html>
<html lang="en-us">

<head>
    {% load static %}
    <meta charset="utf-8">
    <title>{% block title %}Logbook - Homepage List{% endblock %}</title>

    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
    <meta name="description" content="This is meta description">
    <meta name="author" content="Themefisher">

    <!-- plugins -->
    <link rel="preload" href="https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFWJ0bbck.woff2" style="font-display: optional;">
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:600%7cOpen&#43;Sans&amp;display=swap" media="screen">

    <link rel="stylesheet" href="{% static 'plugins/themify-icons/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/slick/slick.css' %}">

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!--Favicon-->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
</head>

<body>
<!-- navigation -->
<header class="sticky-top bg-white border-bottom border-default">
    <div class="container">

        <nav class="navbar navbar-expand-lg navbar-white">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img class="img-fluid" width="150px" src="{% static 'images/logo.png' %}" alt="LogBook">
            </a>
            <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navigation">
                <i class="ti-menu"></i>
            </button>

            <div class="collapse navbar-collapse text-center" id="navigation">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                    </li>
                </ul>

                <!-- search -->
                <div class="search px-4">
                    <button id="searchOpen" class="search-btn"><i class="ti-search"></i></button>
                    <div class="search-wrapper">
                        <form action="javascript:void(0)" class="h-100">
                            <input class="search-box pl-4" id="search-query" name="s" type="search"
                                   placeholder="Type &amp; Hit Enter...">
                        </form>
                        <button id="searchClose" class="search-close"><i class="ti-close text-dark"></i></button>
                    </div>
                </div>

            </div>
        </nav>
    </div>
</header>
<!-- /navigation -->
{% block section %}
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-12  mb-5 mb-lg-0">
                {% for post in posts %}
                <article class="row mb-5">
                    {% if post.images.count != 0 %}
                    <div class="col-md-4 mb-4 mb-md-0">
                        <div class="post-slider slider-sm">
                            {% for image in post.images.all %}
                            <img loading="lazy" src="{{ image.image.url }}" class="img-fluid" alt="{{ post.name }}"
                                 style="height:200px; object-fit: cover;">
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    <div class="col-md-8">
                        <h3 class="h5"><a class="post-title" href="{% url 'post_detail' pk=post.pk %}">{{ post.name }}</a></h3>
                        <ul class="list-inline post-meta mb-2">
                            <li class="list-inline-item"><i class="ti-user mr-2"></i><a href="author.html">{{ post.author.first_name }} {{ post.author.last_name }}</a>
                            </li>
                            <li class="list-inline-item">Date : {{ post.date }}</li>
                            <li class="list-inline-item">Categories :
                                {% for category in post.categories.all %}
                                <a href="#!" class="ml-1">{{category}}</a>
                                {% if not forloop.last %}, {% endif%}
                                {% endfor %}
                            </li>
                            <li class="list-inline-item">Tags :
                                {% for tag in post.tags.all %}
                                <a href="#!" class="ml-1">{{tag}}</a>
                                {% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </li>
                        </ul>
                        <p>{% if post.images.count > 0 %}
                            {{ post.displaying_descriptions_with_images }}
                            {% else %}
                            {{ post.displaying_descriptions_without_images }}
                            {% endif %}
                        </p> <a href="{% url 'post_detail' pk=post.pk %}" class="btn btn-outline-primary">Continue
                        Reading</a>
                    </div>
                </article>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
<footer class="section-sm pb-0 border-top border-default">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-3 mb-4">
                <a class="mb-4 d-block" href="{% url 'home' %}">
                    <img class="img-fluid" width="150px" src="{% static 'images/logo.png' %}" alt="LogBook">
                </a>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua.</p>
            </div>

            <div class="col-lg-2 col-md-3 col-6 mb-4">
                <h6 class="mb-4">Quick Links</h6>
                <ul class="list-unstyled footer-list">
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                    <li><a href="{% url 'privacy-policy' %}">Privacy Policy</a></li>
                    <li><a href="{% url 'terms-conditions' %}">Terms Conditions</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-md-3 col-6 mb-4">
                <h6 class="mb-4">Social Links</h6>
                <ul class="list-unstyled footer-list">
                    <li><a href="#">facebook</a></li>
                    <li><a href="#">twitter</a></li>
                    <li><a href="#">linkedin</a></li>
                    <li><a href="#">github</a></li>
                </ul>
            </div>

            <div class="col-md-3 mb-4">
                <h6 class="mb-4">Subscribe Newsletter</h6>
                <form class="subscription" action="javascript:void(0)" method="post">
                    <div class="position-relative">
                        <i class="ti-email email-icon"></i>
                        <input type="email" class="form-control" placeholder="Your Email Address">
                    </div>
                    <button class="btn btn-primary btn-block rounded" type="submit">Subscribe now</button>
                </form>
            </div>
        </div>
        <div class="scroll-top">
            <a href="javascript:void(0);" id="scrollTop"><i class="ti-angle-up"></i></a>
        </div>
        <div class="text-center">
            <p class="content">&copy; 2020 - Design &amp; Develop By <a href="https://themefisher.com/" target="_blank">Themefisher</a>
            </p>
        </div>
    </div>
</footer>


<!-- JS Plugins -->
<script src="{% static 'plugins/jQuery/jquery.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap/bootstrap.min.js' %}" async></script>
<script src="{% static 'plugins/slick/slick.min.js' %}"></script>

<!-- Main Script -->
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>